$card-margin: .5rem;
$grayed-text-color: rgba(0, 0, 0, .5);

.planetaryDataContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -$card-margin;
}

.planetaryDataCard {
  padding: 1rem;
  margin: $card-margin;
  text-align: center;
  width: 15rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > .value {
    font-size: 24px;

    & > .unknownValue {
      color: $grayed-text-color;
      font-style: italic;
    }
  }

  & > .property {
    color: $grayed-text-color;
    font-size: 14px;
  }
}
